body{
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  background: #F3F5FC;
}
main{
  margin: auto;
  width: 960px;
  height: 650px;
  padding: 5px;
  background: green;
}
.icono{
  float: left;
  width: 1.7em;
  padding: 10px;
  margin: 20px 0 0 15%;
  position: absolute;
}
.izquierda{
  float: left;
  width: 70%;
  height: 95%;
  border-radius: 24px;
  background: red;
}
.primerTexto{
  float: left;
  width: 80%;
  height: 90%;
  margin-left: 10%;
  margin-top: 15%;
  text-transform: lowercase;
  border: none;
  outline: none;
  font-size: 32px;
  color: #0A3871;
  background: #F3F5FC;
}
::placeholder{
  color: #0A3871;
}
.botones{
  float: left;
  width: 70%;
  height: auto;
  margin-left: 10%;
  padding: 20px;
  border-radius: 32px;
}
.botonEncriptar{
  width: 200px;
  height: 30px;
  border-radius: 10px;
  background-color: #0A3871;
  border: 1px solid #0A3871;
  color: white;
  cursor: pointer;
}
.botonDesencriptar{
  width: 200px;
  height: 30px;
  border-radius: 10px;
  margin-left: 30px;
  background: #e9eaf1;
  border: 1px solid #0A3871;
  color: #0A3871;
  cursor: pointer;
}
.derecha{
  float: right;
  width: 30%;
  height: 95%;
  border-radius: 24px;
  background: blue;
}
.munheco{
  width: 90%;
  height: auto;
  margin-left: 2%;
  margin-top: 20%;
}
.mensaje{
  margin-left: 7%;
  margin-top: 5%;
}
.segundoTexto{
  float: left;
  width: 80%;
  height: 60%;
  margin-left: 10%;
  text-transform: lowercase;
  border: none;
  outline: none;
  font-size: 15px;
  color: #0A3871;
  background: #F3F5FC;
}